In [1]:
import mysql.connector as connector

In [8]:
connection = connector.connect(user = "dbuser", password = "dbuser.12345", db = "littlelemondb")
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000232A4CAD550>

In [9]:
cursor = connection.cursor()
show_tables = "show tables"
cursor.execute(show_tables)
result = cursor.fetchall()

for r in result:
    print(r)

('bookings',)
('customers',)
('menu',)
('menuorderdetail',)
('orders',)
('orderstatus',)
('ordersview',)
('staff',)

In [13]:
query = """ select customers.customerName, customers.contactNumber, customers.customerEmail from customers
  inner join bookings on customers.customerID = bookings.fk_CustomerID inner join orders on orders.fk_bookingID
  where totalCost > 30; """

cursor.execute(query)
results = cursor.fetchall()

columns=cursor.column_names
print(columns)

for r in results:
    print(r)

('customerName', 'contactNumber', 'customerEmail')
('John Doe', '555-1001', 'john@example.com')
('Jane Smith', '555-2002', 'jane@example.com')
('Alice Brown', '555-3003', 'alice@example.com')
('Alice Brown', '555-3003', 'alice@example.com')
('Bob Wilson', '555-4004', 'bob@example.com')
('Charlie Green', '555-5005', 'charlie@example.com')
('Charlie Green', '555-5005', 'charlie@example.com')